# Binary file
*.exe
*.out
*.bin

# Go-related files
bin/
pkg/
vendor/
*.log
*.cache
*.tmp

go.sum


# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# SQLite database (jika digunakan)
*.db
*.sqlite
*.sqlite3

